<section class="user-login">
  <div class="user-login__wrap">
    {% include '/assets/images/SnapID.svg' %}
    {{ function('do_shortcode', '[wppb-login register_url="/blog/register" lostpassword_url="/blog/password"]') }}
  </div>
</section>