{# <flynt-component name="TestComponent" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} data-status="{{ status }}" style="--percentage-distance: {{ options.percentageDistance }};"> #}
  <section class="breaking-article">
    <div class="breaking-article__tag">LIVE</div>
    <h3 class="breaking-article__title">Chatbots have learned to create supply chains</h3>
    <button class="breaking-article__button">See more</button>
  </section>
{# </flynt-component> #}
