<section class="email-confirm">
  <div class="email-confirm__wrap">
    {% include '/assets/images/SnapID.svg' %}
    <div class="email-confirm__title">{{ title }}</div>
    <div class="email-confirm__text">{{ text }}</div>
    <a class="email-confirm__link button-new" href="/blog/profile">{{ login }}</a>
  </div>
</section>