/* stylelint-disable */
.acf-form {
  width: 100%;

  .acf-fields {
    .acf-field {
      position: relative;
      margin-bottom: 16px;
      padding: 0;
      border: 0;
    }

    .acf-field-image {
      width: 120px;
      height: 120px;
      margin: 0 auto 32px;

      .acf-label {
        display: none;
      }

      .acf-input {
        position: relative;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
      }

      .acf-actions {
        [data-name="edit"] {
          display: none;
        }
      }

      .acf-icon:before {
        margin: 0;
      }

      .hide-if-value {
        height: 120px;
        color: transparent;

        input {
          position: absolute;
          top: 0;
          display: block;
          width: 100%;
          height: 100%;
          color: transparent;
          border-radius: 0;
          background: url('data:image/svg+xml,<svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="118" height="118" rx="19" stroke="%23B266FF" stroke-width="2" stroke-linecap="square" stroke-dasharray="4 8"/><rect x="8" y="8" width="104" height="104" rx="16" fill="%23FAF5FF"/><g clip-path="url(%23clip0_2024_46040)"><mask id="mask0_2024_46040" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="44" y="44" width="32" height="32"><path d="M70.6673 58C70.3137 58 69.9746 58.1405 69.7245 58.3906C69.4745 58.6406 69.334 58.9798 69.334 59.3334V68.6667C69.334 69.0203 69.1935 69.3595 68.9435 69.6095C68.6934 69.8596 68.3543 70 68.0007 70H49.334C48.9804 70 48.6412 69.8596 48.3912 69.6095C48.1411 69.3595 48.0007 69.0203 48.0007 68.6667V58C48.0007 57.6464 48.1411 57.3073 48.3912 57.0572C48.6412 56.8072 48.9804 56.6667 49.334 56.6667H52.0007C52.2914 56.6819 52.5791 56.6015 52.8199 56.4378C53.0607 56.274 53.2412 56.036 53.334 55.76L54.054 53.5734C54.1434 53.3085 54.3138 53.0785 54.5411 52.9158C54.7684 52.7531 55.0411 52.666 55.3207 52.6667H62.6673C63.0209 52.6667 63.3601 52.5262 63.6101 52.2762C63.8602 52.0261 64.0007 51.687 64.0007 51.3334C64.0007 50.9798 63.8602 50.6406 63.6101 50.3906C63.3601 50.1405 63.0209 50 62.6673 50H55.254C54.416 50.0016 53.5998 50.2663 52.9203 50.7567C52.2409 51.2471 51.7327 51.9386 51.4673 52.7334L51.0407 54.0667H49.334C48.2731 54.0667 47.2557 54.4881 46.5056 55.2383C45.7554 55.9884 45.334 57.0058 45.334 58.0667V68.7334C45.334 69.7942 45.7554 70.8117 46.5056 71.5618C47.2557 72.3119 48.2731 72.7334 49.334 72.7334H68.0007C69.0615 72.7334 70.0789 72.3119 70.8291 71.5618C71.5792 70.8117 72.0007 69.7942 72.0007 68.7334V59.4C72.0097 59.2194 71.9819 59.0388 71.919 58.8693C71.856 58.6998 71.7592 58.5448 71.6345 58.4138C71.5098 58.2829 71.3597 58.1787 71.1934 58.1075C71.0272 58.0364 70.8482 57.9998 70.6673 58ZM58.6673 56.6667C57.6125 56.6667 56.5813 56.9795 55.7043 57.5655C54.8272 58.1516 54.1436 58.9845 53.74 59.9591C53.3363 60.9336 53.2307 62.006 53.4365 63.0405C53.6423 64.0751 54.1502 65.0254 54.8961 65.7713C55.642 66.5172 56.5923 67.0251 57.6268 67.2309C58.6614 67.4367 59.7338 67.3311 60.7083 66.9274C61.6828 66.5237 62.5158 65.8401 63.1018 64.9631C63.6879 64.086 64.0007 63.0549 64.0007 62C64.0007 60.5856 63.4388 59.229 62.4386 58.2288C61.4384 57.2286 60.0818 56.6667 58.6673 56.6667ZM58.6673 64.6667C58.1399 64.6667 57.6243 64.5103 57.1858 64.2173C56.7473 63.9243 56.4055 63.5078 56.2036 63.0205C56.0018 62.5333 55.949 61.9971 56.0519 61.4798C56.1548 60.9625 56.4088 60.4874 56.7817 60.1144C57.1546 59.7415 57.6298 59.4875 58.1471 59.3846C58.6644 59.2817 59.2005 59.3345 59.6878 59.5364C60.1751 59.7382 60.5916 60.08 60.8846 60.5185C61.1776 60.9571 61.334 61.4726 61.334 62C61.334 62.7073 61.053 63.3856 60.5529 63.8857C60.0528 64.3858 59.3746 64.6667 58.6673 64.6667ZM73.334 50H72.0007V48.6667C72.0007 48.3131 71.8602 47.9739 71.6101 47.7239C71.3601 47.4738 71.0209 47.3334 70.6673 47.3334C70.3137 47.3334 69.9746 47.4738 69.7245 47.7239C69.4745 47.9739 69.334 48.3131 69.334 48.6667V50H68.0007C67.647 50 67.3079 50.1405 67.0578 50.3906C66.8078 50.6406 66.6673 50.9798 66.6673 51.3334C66.6673 51.687 66.8078 52.0261 67.0578 52.2762C67.3079 52.5262 67.647 52.6667 68.0007 52.6667H69.334V54C69.334 54.3537 69.4745 54.6928 69.7245 54.9428C69.9746 55.1929 70.3137 55.3334 70.6673 55.3334C71.0209 55.3334 71.3601 55.1929 71.6101 54.9428C71.8602 54.6928 72.0007 54.3537 72.0007 54V52.6667H73.334C73.6876 52.6667 74.0267 52.5262 74.2768 52.2762C74.5268 52.0261 74.6673 51.687 74.6673 51.3334C74.6673 50.9798 74.5268 50.6406 74.2768 50.3906C74.0267 50.1405 73.6876 50 73.334 50Z" fill="%23802CD9"/></mask><g mask="url(%23mask0_2024_46040)"><rect x="44" y="44" width="32" height="32" fill="%23802CD9"/></g></g><defs><clipPath id="clip0_2024_46040"><rect width="32" height="32" fill="white" transform="translate(44 44)"/></clipPath></defs></svg>');
          cursor: pointer;
        }
      }

      .show-if-value {
        width: 120px;
        height: 120px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .acf-button {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        color: transparent;
        border-radius: 0;
        background: url('data:image/svg+xml,<svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="118" height="118" rx="19" stroke="%23B266FF" stroke-width="2" stroke-linecap="square" stroke-dasharray="4 8"/><rect x="8" y="8" width="104" height="104" rx="16" fill="%23FAF5FF"/><g clip-path="url(%23clip0_2024_46040)"><mask id="mask0_2024_46040" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="44" y="44" width="32" height="32"><path d="M70.6673 58C70.3137 58 69.9746 58.1405 69.7245 58.3906C69.4745 58.6406 69.334 58.9798 69.334 59.3334V68.6667C69.334 69.0203 69.1935 69.3595 68.9435 69.6095C68.6934 69.8596 68.3543 70 68.0007 70H49.334C48.9804 70 48.6412 69.8596 48.3912 69.6095C48.1411 69.3595 48.0007 69.0203 48.0007 68.6667V58C48.0007 57.6464 48.1411 57.3073 48.3912 57.0572C48.6412 56.8072 48.9804 56.6667 49.334 56.6667H52.0007C52.2914 56.6819 52.5791 56.6015 52.8199 56.4378C53.0607 56.274 53.2412 56.036 53.334 55.76L54.054 53.5734C54.1434 53.3085 54.3138 53.0785 54.5411 52.9158C54.7684 52.7531 55.0411 52.666 55.3207 52.6667H62.6673C63.0209 52.6667 63.3601 52.5262 63.6101 52.2762C63.8602 52.0261 64.0007 51.687 64.0007 51.3334C64.0007 50.9798 63.8602 50.6406 63.6101 50.3906C63.3601 50.1405 63.0209 50 62.6673 50H55.254C54.416 50.0016 53.5998 50.2663 52.9203 50.7567C52.2409 51.2471 51.7327 51.9386 51.4673 52.7334L51.0407 54.0667H49.334C48.2731 54.0667 47.2557 54.4881 46.5056 55.2383C45.7554 55.9884 45.334 57.0058 45.334 58.0667V68.7334C45.334 69.7942 45.7554 70.8117 46.5056 71.5618C47.2557 72.3119 48.2731 72.7334 49.334 72.7334H68.0007C69.0615 72.7334 70.0789 72.3119 70.8291 71.5618C71.5792 70.8117 72.0007 69.7942 72.0007 68.7334V59.4C72.0097 59.2194 71.9819 59.0388 71.919 58.8693C71.856 58.6998 71.7592 58.5448 71.6345 58.4138C71.5098 58.2829 71.3597 58.1787 71.1934 58.1075C71.0272 58.0364 70.8482 57.9998 70.6673 58ZM58.6673 56.6667C57.6125 56.6667 56.5813 56.9795 55.7043 57.5655C54.8272 58.1516 54.1436 58.9845 53.74 59.9591C53.3363 60.9336 53.2307 62.006 53.4365 63.0405C53.6423 64.0751 54.1502 65.0254 54.8961 65.7713C55.642 66.5172 56.5923 67.0251 57.6268 67.2309C58.6614 67.4367 59.7338 67.3311 60.7083 66.9274C61.6828 66.5237 62.5158 65.8401 63.1018 64.9631C63.6879 64.086 64.0007 63.0549 64.0007 62C64.0007 60.5856 63.4388 59.229 62.4386 58.2288C61.4384 57.2286 60.0818 56.6667 58.6673 56.6667ZM58.6673 64.6667C58.1399 64.6667 57.6243 64.5103 57.1858 64.2173C56.7473 63.9243 56.4055 63.5078 56.2036 63.0205C56.0018 62.5333 55.949 61.9971 56.0519 61.4798C56.1548 60.9625 56.4088 60.4874 56.7817 60.1144C57.1546 59.7415 57.6298 59.4875 58.1471 59.3846C58.6644 59.2817 59.2005 59.3345 59.6878 59.5364C60.1751 59.7382 60.5916 60.08 60.8846 60.5185C61.1776 60.9571 61.334 61.4726 61.334 62C61.334 62.7073 61.053 63.3856 60.5529 63.8857C60.0528 64.3858 59.3746 64.6667 58.6673 64.6667ZM73.334 50H72.0007V48.6667C72.0007 48.3131 71.8602 47.9739 71.6101 47.7239C71.3601 47.4738 71.0209 47.3334 70.6673 47.3334C70.3137 47.3334 69.9746 47.4738 69.7245 47.7239C69.4745 47.9739 69.334 48.3131 69.334 48.6667V50H68.0007C67.647 50 67.3079 50.1405 67.0578 50.3906C66.8078 50.6406 66.6673 50.9798 66.6673 51.3334C66.6673 51.687 66.8078 52.0261 67.0578 52.2762C67.3079 52.5262 67.647 52.6667 68.0007 52.6667H69.334V54C69.334 54.3537 69.4745 54.6928 69.7245 54.9428C69.9746 55.1929 70.3137 55.3334 70.6673 55.3334C71.0209 55.3334 71.3601 55.1929 71.6101 54.9428C71.8602 54.6928 72.0007 54.3537 72.0007 54V52.6667H73.334C73.6876 52.6667 74.0267 52.5262 74.2768 52.2762C74.5268 52.0261 74.6673 51.687 74.6673 51.3334C74.6673 50.9798 74.5268 50.6406 74.2768 50.3906C74.0267 50.1405 73.6876 50 73.334 50Z" fill="%23802CD9"/></mask><g mask="url(%23mask0_2024_46040)"><rect x="44" y="44" width="32" height="32" fill="%23802CD9"/></g></g><defs><clipPath id="clip0_2024_46040"><rect width="32" height="32" fill="white" transform="translate(44 44)"/></clipPath></defs></svg>');
      }
    }

    .acf-field-text {
      gap: 0;
      @extend %text-input;

      .acf-label {
        position: unset;
      }

      .acf-input {
        width: 100%;
      }
    }

    .acf-field-checkbox {
      margin-top: 32px;
      margin-bottom: 40px;

      .acf-label {
        @extend %title-small;
        color: var(--text-text-title-default, #1a1a1a);
      }
    }
  }

  .acf-checkbox-list {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 8px;

    &:before {
      display: none;
    }

    input {
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;

      width: 18px;
      height: 18px;
      border-radius: 4px;
      border: 2px solid #B6B6B6;
      cursor: pointer;

      &:checked {
        border-color: var(--fill-fill-brand-primary, #802cd9);
        background: url('data:image/svg+xml,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 9.4L0 5.4L1.4 4L4 6.6L10.6 0L12 1.4L4 9.4Z" fill="white"/></svg>') no-repeat center;
        background-color: var(--fill-fill-brand-primary, #802cd9);
      }
    }

    label {
      @extend %body-medium;
      color: var(--text-text-body-default, #262626);
    }
  }

  .acf-form-submit {
    text-align: center;

    .button {
      width: 100%;
      @extend %button-new;
    }
  }
}

::-webkit-file-upload-button {
  display: none;
}

::file-selector-button {
  display: none;
}
/* stylelint-enable */